{% extends 'students/base.html' %}

{% block title %}Student List{% endblock %}

{% block content %}
<h2>All Students</h2>
<a href="{% url 'student_create' %}">Add New Student</a>
<ul>
    {% for student in object_list %}
        <li>
            <a href="{% url 'student_detail' student.pk %}">{{ student.name }}</a> - {{ student.email }} - {{ student.age }}
            <a href="{% url 'student_update' student.pk %}">Edit</a>
            <a href="{% url 'student_delete' student.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
